<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="patient">
      <h2 data-cy="patientDetailsHeading"><span>Patient</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ patient.id }}</span>
        </dd>
        <dt><span>Reference</span></dt>
        <dd>
          <span>{{ patient.reference }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ patient.nom }}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
          <span>{{ patient.prenom }}</span>
        </dd>
        <dt><span>Naissance</span></dt>
        <dd>
          <span>{{ patient.naissance | formatMediumDate }}</span>
        </dd>
        <dt><span>Sexe</span></dt>
        <dd>
          <span>{{ patient.sexe }}</span>
        </dd>
        <dt><span>Etat Civil</span></dt>
        <dd>
          <span>{{ patient.etatCivil }}</span>
        </dd>
        <dt><span>Fonction</span></dt>
        <dd>
          <span>{{ patient.fonction }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ patient.email }}</span>
        </dd>
        <dt><span>Tel</span></dt>
        <dd>
          <span>{{ patient.tel }}</span>
        </dd>
        <dt><span>Tel Fixe</span></dt>
        <dd>
          <span>{{ patient.telFixe }}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
          <span>{{ patient.adresse }}</span>
        </dd>
        <dt><span>Remarque</span></dt>
        <dd>
          <span>{{ patient.remarque }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/patient', patient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
