<div>
  <h2 id="page-heading" data-cy="PatientHeading">
    <span>Patients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-patient"
        [routerLink]="['/patient/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Patient </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="patients?.length === 0">
    <span>No patients found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="patients && patients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="reference"><span>Reference</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom"><span>Prenom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="naissance"><span>Naissance</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sexe"><span>Sexe</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etatCivil"><span>Etat Civil</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fonction"><span>Fonction</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="tel"><span>Tel</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="telFixe"><span>Tel Fixe</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="adresse"><span>Adresse</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="remarque"><span>Remarque</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let patient of patients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/patient', patient.id, 'view']">{{ patient.id }}</a>
          </td>
          <td>{{ patient.reference }}</td>
          <td>{{ patient.nom }}</td>
          <td>{{ patient.prenom }}</td>
          <td>{{ patient.naissance | formatMediumDate }}</td>
          <td>{{ patient.sexe }}</td>
          <td>{{ patient.etatCivil }}</td>
          <td>{{ patient.fonction }}</td>
          <td>{{ patient.email }}</td>
          <td>{{ patient.tel }}</td>
          <td>{{ patient.telFixe }}</td>
          <td>{{ patient.adresse }}</td>
          <td>{{ patient.remarque }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/patient', patient.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/patient', patient.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(patient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
