<div>
  <h2 id="page-heading" data-cy="PrescriptionHeading">
    <span>Prescriptions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prescription"
        [routerLink]="['/prescription/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Prescription </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="prescriptions?.length === 0">
    <span>No prescriptions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="prescriptions && prescriptions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Prescription</span></th>
          <th scope="col"><span>Prise</span></th>
          <th scope="col"><span>Ordonnance</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prescription of prescriptions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prescription', prescription.id, 'view']">{{ prescription.id }}</a>
          </td>
          <td>{{ prescription.prescription }}</td>
          <td>{{ prescription.prise }}</td>
          <td>
            <div *ngIf="prescription.ordonnance">
              <a [routerLink]="['/ordonnance', prescription.ordonnance?.id, 'view']">{{ prescription.ordonnance?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/prescription', prescription.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/prescription', prescription.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(prescription)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
