<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ordonnance">
      <h2 data-cy="ordonnanceDetailsHeading"><span>Ordonnance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ ordonnance.id }}</span>
        </dd>
        <dt><span>Visite</span></dt>
        <dd>
          <div *ngIf="ordonnance.visite">
            <a [routerLink]="['/visite', ordonnance.visite?.id, 'view']">{{ ordonnance.visite?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/ordonnance', ordonnance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
