<div>
  <h2 id="page-heading" data-cy="ReglementHeading">
    <span>Reglements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reglement"
        [routerLink]="['/reglement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Reglement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reglements?.length === 0">
    <span>No reglements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="reglements && reglements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Date</span></th>
          <th scope="col"><span>Valeur</span></th>
          <th scope="col"><span>Type Payement</span></th>
          <th scope="col"><span>Remarque</span></th>
          <th scope="col"><span>Visite</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reglement of reglements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reglement', reglement.id, 'view']">{{ reglement.id }}</a>
          </td>
          <td>{{ reglement.date | formatMediumDatetime }}</td>
          <td>{{ reglement.valeur }}</td>
          <td>{{ reglement.typePayement }}</td>
          <td>{{ reglement.remarque }}</td>
          <td>
            <div *ngIf="reglement.visite">
              <a [routerLink]="['/visite', reglement.visite?.id, 'view']">{{ reglement.visite?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reglement', reglement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reglement', reglement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(reglement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
