<div>
  <h2 id="page-heading" data-cy="ConstanteHeading">
    <span>Constantes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-constante"
        [routerLink]="['/constante/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Constante </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="constantes?.length === 0">
    <span>No constantes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="constantes && constantes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Date</span></th>
          <th scope="col"><span>Poid</span></th>
          <th scope="col"><span>Taille</span></th>
          <th scope="col"><span>Pas</span></th>
          <th scope="col"><span>Pad</span></th>
          <th scope="col"><span>Pouls</span></th>
          <th scope="col"><span>Temp</span></th>
          <th scope="col"><span>Glycemie</span></th>
          <th scope="col"><span>Cholesterol</span></th>
          <th scope="col"><span>Patient</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let constante of constantes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/constante', constante.id, 'view']">{{ constante.id }}</a>
          </td>
          <td>{{ constante.date | formatMediumDatetime }}</td>
          <td>{{ constante.poid }}</td>
          <td>{{ constante.taille }}</td>
          <td>{{ constante.pas }}</td>
          <td>{{ constante.pad }}</td>
          <td>{{ constante.pouls }}</td>
          <td>{{ constante.temp }}</td>
          <td>{{ constante.glycemie }}</td>
          <td>{{ constante.cholesterol }}</td>
          <td>
            <div *ngIf="constante.patient">
              <a [routerLink]="['/patient', constante.patient?.id, 'view']">{{ constante.patient?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/constante', constante.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/constante', constante.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(constante)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
