<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="antecedent">
      <h2 data-cy="antecedentDetailsHeading"><span>Antecedent</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ antecedent.id }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ antecedent.type }}</span>
        </dd>
        <dt><span>Periode</span></dt>
        <dd>
          <span>{{ antecedent.periode }}</span>
        </dd>
        <dt><span>Antecedent</span></dt>
        <dd>
          <span>{{ antecedent.antecedent }}</span>
        </dd>
        <dt><span>Traitement</span></dt>
        <dd>
          <span>{{ antecedent.traitement }}</span>
        </dd>
        <dt><span>Patient</span></dt>
        <dd>
          <div *ngIf="antecedent.patient">
            <a [routerLink]="['/patient', antecedent.patient?.id, 'view']">{{ antecedent.patient?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/antecedent', antecedent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
