<div>
  <h2 id="page-heading" data-cy="CrEchographieHeading">
    <span>Cr Echographies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cr-echographie"
        [routerLink]="['/cr-echographie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Cr Echographie </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="crEchographies?.length === 0">
    <span>No crEchographies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="crEchographies && crEchographies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Aspect Foie</span></th>
          <th scope="col"><span>Observation Foie</span></th>
          <th scope="col"><span>Aspect Vesicule</span></th>
          <th scope="col"><span>Observation Vesicule</span></th>
          <th scope="col"><span>Aspect Troc Voie Veine</span></th>
          <th scope="col"><span>Observation Troc Voie Veine</span></th>
          <th scope="col"><span>Aspect Reins</span></th>
          <th scope="col"><span>Observation Reins</span></th>
          <th scope="col"><span>Aspect Rate</span></th>
          <th scope="col"><span>Observation Rate</span></th>
          <th scope="col"><span>Aspect Pancreas</span></th>
          <th scope="col"><span>Observation Pancreas</span></th>
          <th scope="col"><span>Autre Observation</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crEchographie of crEchographies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cr-echographie', crEchographie.id, 'view']">{{ crEchographie.id }}</a>
          </td>
          <td>{{ crEchographie.aspectFoie }}</td>
          <td>{{ crEchographie.observationFoie }}</td>
          <td>{{ crEchographie.aspectVesicule }}</td>
          <td>{{ crEchographie.observationVesicule }}</td>
          <td>{{ crEchographie.aspectTrocVoieVeine }}</td>
          <td>{{ crEchographie.observationTrocVoieVeine }}</td>
          <td>{{ crEchographie.aspectReins }}</td>
          <td>{{ crEchographie.observationReins }}</td>
          <td>{{ crEchographie.aspectRate }}</td>
          <td>{{ crEchographie.observationRate }}</td>
          <td>{{ crEchographie.aspectPancreas }}</td>
          <td>{{ crEchographie.observationPancreas }}</td>
          <td>{{ crEchographie.autreObservation }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cr-echographie', crEchographie.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cr-echographie', crEchographie.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(crEchographie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
